@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

:root {
    --bg-primary: #505A64;
    --bg-secondary: #868E96;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: 'Silkscreen', cursive;
    background-color: var(--bg-primary);
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}



#strip {
    position: absolute;
    width: 33px;
    height: 100vh;
    right: 178px;
    /* top: 78px; */
    background-color: #fab005;
    opacity: .9;
    z-index: 1;
}

#tech-skills {
    justify-content: center;
    color: white;
}

.skills-wrapper {
    margin-top: 100px;
    height: 100vh;
    /* max-width: 300px; */
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.skill-title-banner {
    display: flex;
    /* justify-content: center; */
    align-self: start;
    width: 321px;
    /* height: 38px; */
    color: white;
    /* padding-right: 5px; */
    
    background: var(--bg-secondary);
    border: 1px solid #FFFFFF;
    z-index: -1;
}

.skill-banner {
    display: flex;
    justify-content: space-around;
    align-self: end;
    width: 321px;
    /* height: 118px; */

    background: #868E96;
    border: 1px solid #FFFFFF;
    z-index: 2;
    /* opacity: .9; */
}

.project {
    justify-content: end;
    color: white;
}

@media (min-width: 400px) {
    .skill-title-banner{
        align-self: end;

    }
    #strip {
        display: none;
        /* right: 140px; */
        /* top: 380px; */
    }
    .skills-wrapper {
        display: none;
    }
 
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    width: 100%;
    background-color: var(--bg-primary);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar ul {
    display: flex;
    width: 500px;
    justify-content: space-around;
}

.navbar li, a {
    color: white;
}

@media (max-width: 400px) {
    .container {
        display: none;
    }
    #nav-links {
        display: none;
    }
}