.wrapper {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
}

.wrapper div:nth-last-of-type(even) {
    background-color: red;
}
.wrapper div:nth-last-of-type(odd) {
    background-color: green;
}

.box {
    display: flex;
    width: 100px;
}

